@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

span {
  color: red;
}

.container {
  background: #000;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logo {
  color: grey;
  text-align: center;
  height: 150px;
  font-size: 75px;
  margin: 0px;
}

.form {
  border: none;
  padding: 10px 20px;

  min-width: 400px;
  width: 30%;
  height: 300px;

  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.text-input {
  width: 100%;
  height: 40px;
  margin: 5px 0px 5px 0px;
  padding: 3px 7px;
  font-size: 17px;
  font-family: inherit;
}

.btn-layout {
  width: min(50%, 300px);
  display: inline-block;
}

.btn {
  display: inline-block;
  color: #000;
  width: calc(100% - 5px);
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
}

.btn-left {
  margin: 5px 5px 5px 0px;
  background: whitesmoke;
  height: 40px;
}

.btn-right {
  margin: 5px 0px 5px 5px;
  background: rgb(177, 158, 158);
  height: 40px;
}

.btn-start {
  margin: 15px 0px 5px 0px;
  height: auto;
  width: 200%;
}

.btn-layout-next-round {
  width: 300px;
  display: inline-block;
}

.btn-start-next-round {
  width: 100%;
  height: 60px;
  margin-top: 40px;
}

.btn-play-card {
  position: absolute;
  right: 10vw;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  bottom: 30vh;
}

.btn-pass {
  position: absolute;
  right: 10vw;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  bottom: 10vh;
}

.btn:active {
  transform: scale(0.98);
}

.waiting-room {
  border: none;
  padding: 10px 20px;
  margin: 5px;

  min-width: 400px;
  width: 70%;
  height: 300px;

  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.list-player {
  display: inline-table;
  background: rgb(48, 46, 46);
  color: #fff;
  padding: 20px 20px 25px;
  height: 280px;
  width: 60%;
  margin: 0px;
}
.list-player h2 {
  padding-left: 5px;
  padding-bottom: 10px;
}
.list-player ul {
  list-style: none;
}

.list-player ul li {
  padding: 10px 10px;
  width: 100%;
  background: #262626;
}

.list-player ul li:nth-child(2n) {
  background: #1b1b1b;
}

.game-option {
  display: inline-table;
  color: #fff;
  background: black;
  padding: 20px 20px 60px;
  width: 40%;
  height: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  cursor: pointer;
  /* -webkit-transition: 0.2s; */
  /* transition: opacity 0.2s; */
  margin: 10px 0px 20px 0px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 18px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}

.card-deck {
  color: #fff;
  background-color: aquamarine;
  position: absolute;
  top: 50vh;
  left: calc(50vw - 100px);
}

.card-in-hand {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: calc(50vw - 100px);
}

.card-in-hand h1 {
  display: inline;
  background-color: red;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  /* margin-right: 30%;
  margin-left: 30%; */
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.card-photo {
  height: 200px;
  width: 140px;
}

.players-in-game {
  position: absolute;
  right: 10px;
  padding: 10px;
  top: 10px;
}

.player-ui {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 10px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-color: #1b1b1b;
  background-color: #d3d3d3;
  color: #000;
}

.player-info {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50px;
}

.player-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  font-size: 20px;
}

.player-name {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.player-card-number {
  color: white;
  border: 2px solid silver;
  border-radius: 30%;
  background-color: black;
}

.player-detail {
  font-size: 15px;
  width: 100%;
  height: 40%;
  color: grey;
  padding-left: 10px;
}

.last-played-cards {
  position: absolute;
  display: flex;
  top: 2vh;
  left: calc(50vw - 100px);
}

.glass-pane {
  backdrop-filter: blur(8px);

  width: 100vw;
  height: 100vh;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
}

.glass-pane h2 {
  margin-bottom: 50px;
}

.glass-pane h4 {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .btn-play-card {
    right: 0px;
  }

  .btn-pass {
    right: 0px;
  }
}
